#container {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 150px;
  }
  #container > form > input {
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  #container > form > input:nth-child(3) {
    width: 520px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  h1{
    margin-left: 630px;
  }
  body{
    background-image: url("");
  }