#footer{
  width: 100%;
  background: black;
  margin-top: 8rem;
}
#logo{
  border-bottom: 1px solid white;
}
#logo-div{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
#logo-div>img{
  width: 15%;
  /* border: 1px solid red; */
  border-radius: 60px 60px 0 0;
  background: black;
  padding: 0.8rem;
  position: relative;
  bottom: 3rem;
}
#fa-icons{
  color: black;
  font-size: 16px;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
#fa-icons i{
  padding: 8px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}
#store{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1.5rem 0;
}
#store li{
  cursor: pointer;
}
#get-in-touch{
  width: 95%;
  border-bottom: 1px solid white;
  color: white;
  margin: auto;
  padding: 1.5rem 0;
  font-family: sans-serif;
}
#get-in-touch h2{
  margin-left: 2.2rem;
}
#support{
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-around;
}
#support h4{
  margin-bottom: 7px;
}
#support p{
  opacity: 40%;
}
#app{
  width: 95%;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  margin: auto;
  padding: 2rem;
}
#copyright{
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}