*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

 body{
    background-color: #f5f5f5;
 }

  #container{
    margin: auto;
  }

 #top{
    width: 100%;
    height: 350px;
    margin-top: -46px;
    background-color: #fff;
 }

 #top>img{
    width: 90%;
    height: 300px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top>a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

#main{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    width: 100%;
    padding-left:3% ;
    padding-right: 4%;
    margin-top: 20px;
}

#side_bar{
    width: 23%;
    cursor: pointer;
}

.item{
    width: auto;
    padding: 18px;
    border-radius: 10px;
    position: relative;
    margin-top: 0;
    background-color:#fff ;
}

.item i{
    margin-right: 15px;
    color: rgb(99, 100, 101);
}

.sub-btn{
    margin-top: 15px;
    margin-bottom: -0px;
}

.sub-btn i{
    margin-right: 15px;
    color: rgb(99, 100, 101);
}

.side_bar_bottom{
    width: auto;
    height: auto;
    padding: 18px;
    padding-bottom: 40px;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
    background-color:#fff ; 
}

.side_bar_bottom h4 .dropdown{
    position: absolute;
    right: 0;
    transition: 0.4s ease;
 }

 #side_bar .side_bar_bottom .sub_menu{
    display: none;
 }

p{
    margin-top: 10px;
    font-size: 16px;
}

span{
    font-size: 16px;
    font-weight: 500;
}

.item h3 .dropdown{
    position: absolute;
    right: 0;
    transition: 0.3s ease;
 }

#side_bar .item .sub_menu{
   display: none;
}

.rotate{
    transform: rotate(180deg);
}

#right_side{
    /* border: 1px solid red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(5,400px);;
    justify-content: space-between;
    gap: 15px;
    
}

#p-div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    line-height: 20px;
    background-color: #fff;
}

h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

#p-div>img{
    margin: auto;
    width: 50%;
}

#p-div>p{
    width: 100%;
    height: 10%;
    overflow: hidden;
}

.star-main-div>button{
    align-items: center;
    width: 70%;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    margin-top: 7px;
    font-size: 16px;
    cursor: pointer;
}

#bottom-heding{
    /* border: 1px solid; */
    padding: 18px;
    background-color: #fff;
    padding-left: 50px;
    margin-top: 40px;
    cursor: pointer;

}

#bottom{
    margin-top: 50px;
    border: px solid;
    text-align: center;
    line-height: 30px;
   
}

#email{
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid;
}

#bottom>button{
    width: 8%;
    font-size: 16px;
    padding: 9px;
    margin-left: -5px;
    color: #fff;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    cursor: pointer;
}

.star-main-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* column-gap: -110px; */
}

.star-div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 7px;
}

.star-div>i{
    width: 100%;
} 

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid  rgb(235, 237, 238);
}

